# ======================
# 기본 python / pip 무시
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# virtual env 무시
# ======================
env/
venv/
.venv/

# ======================
# IDE 설정 무시
# ======================
.idea/
.vscode/

# ======================
# DB, Dataset, Checkpoints 등 무시
# ======================
*.db
*.sqlite3
data/
datasets/
checkpoints/
weights/

# ======================
# git 폴더 무시
# ======================
.git/

#파이참 구성동시 시작
.localtest.run/
/recorder_service
README.MD