[defaults]
inventory = ansible/inventory/hosts.ini     # 인벤토리 파일 경로 설정
host_key_checking = False                   # 호스트 키 검증 비활성화 (SSH yes/no 안 뜨게)
retry_files_enabled = False                 # .retry 파일 생성 방지
timeout = 30                                # SSH 연결 타임아웃(초)

become = True                               # 기본적으로 모든 작업에 sudo 사용
become_method = sudo                        # sudo 방식으로 권한 상승
become_user = root                          # root 사용자로 명령 실행


# 이렇게도 추가가능
# remote_user = master
# private_key_file = ~/.ssh/id_rsa_ansible

#[defaults]
#inventory = ./ansible/inventory/hosts.ini
#remote_user = ubuntu
#private_key_file = ~/.ssh/id_rsa
#host_key_checking = False
#timeout = 30
#retry_files_enabled = False